name: TypeScript Run Check

on:
  push:
    paths:
      - '**.ts'
  pull_request:
    paths:
      - '**.ts'

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install --prefix ./configs/javascript

    - name: Compile TypeScript files
      run: npx --prefix ./configs/javascript tsc

    - name: Run compiled JavaScript files
      run: |
        find configs/javascript/dist -name "*.js" | while read file; do
          echo "Running $file"
          node "$file" || exit 1
        done
